@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Cao Bùi Phước Hoàng
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0987612345
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:hoangcbp20@uef.edu.vn">hoangcbp20@uef.edu.vn</a><br />
</address>